<html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
</head>

<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>




function moveMapToBerlin(map){
  map.setCenter({lat:37.871540, lng:32.498914});
  map.setZoom(14);
}


var platform = new H.service.Platform({
  'apikey': 'REQsqLxTIZdnGeVV8Dvsq4P_QY8bSBdXVXfbDAGjmLI'
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map - this map is centered over Europe
var map = new H.Map(document.getElementById('map'),
  defaultLayers.vector.normal.map,{
  center: {lat:50, lng:5},
  zoom: 4,
  pixelRatio: window.devicePixelRatio || 1
});

window.addEventListener('resize', () => map.getViewPort().resize());


var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));


var ui = H.ui.UI.createDefault(map, defaultLayers);

window.onload = function () {
  moveMapToBerlin(map);
}


</script>
</body>
</html>
